.authors{
    border: 1px solid black;
    padding: 10px;
}

mat-card.add-books{
    margin: 25px auto;
    width:80%;
}

.form-element.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-center{
    text-align: center;
}